<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Servicio</title>
</head>
<body>
    <h2>Crear Servicio</h2>
    <form action="URL_DE_TU_API_AQUÍ" method="POST">
        <label for="name">Nombre del Servicio:</label><br>
        <input type="text" id="name" name="name"><br>
        
        <label for="description">Descripción:</label><br>
        <textarea id="description" name="description"></textarea><br>
        

        <label for="lastcheck">Última Verificación:</label><br>
        <input type="text" id="lastcheck" name="lastcheck"><br>
        
        <label for="errorReport">Reporte de Errores:</label><br>
        <textarea id="errorReport" name="errorReport"></textarea><br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
